*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand img{
    height: 30px;
    width: 30px;
}
.navbar{
    background-color: #080000;
}
.navbar-brand i{
    color: antiquewhite;
}
#menuBar{
    animation: moveDown 2s;
}
@keyframes moveDown{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
ul li{
    margin-right: 50px;   
}

ul li a{
    color:antiquewhite;
}
ul li:hover a{
    color: #ffffff;
}
ul li a .active:hover{
    background-color: #ffffff;
}




